Package: se.nosskirneh.nextup.ytmusic
Name: NextUp YouTube Music Extension
Depends: mobilesubstrate, se.nosskirneh.nextup (>> 1.0)
Version: 1.0
Architecture: iphoneos-arm
Description: See and change next track in YouTube Music
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
