Package: se.nosskirneh.nextup.tidal
Name: NextUp TIDAL Extension
Depends: mobilesubstrate, se.nosskirneh.nextup (>> 1.0)
Version: 1.0
Architecture: iphoneos-arm
Description: See and change next track in TIDAL
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
