<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>NextUpSettingsHeaderCell</string>
        </dict>


        <!-- App settings -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Enabled Apps</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>These settings require a restart of the respective app. Disabling support for apps that are not installed will not make a difference.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>com.coppertino.VoxMobile</string>
            <key>icon</key>
            <string>vox.png</string>
            <key>requiresAppRestart</key>
            <true/>
            <key>label</key>
            <string>VOX</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>com.feelthemusi.musi</string>
            <key>icon</key>
            <string>musi.png</string>
            <key>requiresAppRestart</key>
            <true/>
            <key>label</key>
            <string>Musi</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>com.apple.Music</string>
            <key>id</key>
            <string>Music</string>
            <key>requiresAppRestart</key>
            <true/>
            <key>label</key>
            <string>Music</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>tidal.png</string>
            <key>key</key>
            <string>com.aspiro.TIDAL</string>
            <key>label</key>
            <string>TIDAL</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>deezer.png</string>
            <key>key</key>
            <string>com.deezer.Deezer</string>
            <key>label</key>
            <string>Deezer</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>spotify.png</string>
            <key>key</key>
            <string>com.spotify.client</string>
            <key>label</key>
            <string>Spotify</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>napster.png</string>
            <key>key</key>
            <string>com.rhapsody.iphone.Napster3</string>
            <key>label</key>
            <string>Napster</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>anghami.png</string>
            <key>key</key>
            <string>com.anghami.anghami</string>
            <key>label</key>
            <string>Anghami</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>jiosaavn.png</string>
            <key>key</key>
            <string>com.Saavn.Saavn</string>
            <key>label</key>
            <string>JioSaavn</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>podcasts.png</string>
            <key>key</key>
            <string>com.apple.podcasts</string>
            <key>label</key>
            <string>Podcasts</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>jetaudio.png</string>
            <key>key</key>
            <string>com.jetappfactory.jetaudio</string>
            <key>label</key>
            <string>JetAudio</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>audiomack.png</string>
            <key>key</key>
            <string>com.audiomack.iphone</string>
            <key>label</key>
            <string>AudioMack</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>soundcloud.png</string>
            <key>key</key>
            <string>com.soundcloud.TouchApp</string>
            <key>label</key>
            <string>SoundCloud</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>playmusic.png</string>
            <key>key</key>
            <string>com.google.PlayMusic</string>
            <key>label</key>
            <string>Google Music</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>youtubemusic.png</string>
            <key>key</key>
            <string>com.google.ios.youtubemusic</string>
            <key>label</key>
            <string>YouTube Music</string>
            <key>requiresAppRestart</key>
            <true/>
        </dict>


        <!-- Settings -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Appear in</string>
        </dict>

        <dict>
            <key>id</key>
            <string>lockscreen</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>lockscreen</string>
            <key>label</key>
            <string>Lockscreen</string>
            <key>requiresRespring</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>controlcenter</string>
            <key>label</key>
            <string>Control Center</string>
            <key>requiresRespring</key>
            <true/>
        </dict>

        <!-- Lockscreen -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Lockscreen</string>
            <key>footerText</key>
            <string>Slimmed mode decreases the used height and hides the "Next Up" label.
Hiding elements is useful with ColorFlow's extended media artwork view. Elements are only hidden when the media controls are visible.</string>
        </dict>

        <dict>
            <key>id</key>
            <string>slimmedLSMode</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>slimmedLSMode</string>
            <key>label</key>
            <string>Slimmed mode (LS)</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
            <key>requiresRespring</key>
            <true/>
        </dict>

        <dict>
            <key>id</key>
            <string>hideXButtons</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>hideXButtons</string>
            <key>label</key>
            <string>Hide quick action buttons</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
        </dict>

        <dict>
            <key>id</key>
            <string>hideHomeBar</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>hideHomeBar</string>
            <key>label</key>
            <string>Hide Homebar</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Lockscreen extra bottom padding</string>
            <key>footerText</key>
            <string>Extra bottom padding requires the media widget to reload to take effect.</string>
        </dict>

        <dict>
            <key>id</key>
            <string>extraBottomPadding</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>key</key>
            <string>extraBottomPadding</string>
            <key>isSegmented</key>
            <true/>
            <key>segmentCount</key>
            <integer>25</integer>
            <key>showValue</key>
            <true/>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>25</integer>
            <key>default</key>
            <string>0</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
        </dict>

        <!-- Behaviour -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Behaviour</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>Hide NextUp when there is no next track available. Hide on empty does not require a respring. Hide artwork is only available on non-RTL languages.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>hideOnEmpty</string>
            <key>label</key>
            <string>Hide on empty</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>hideArtwork</string>
            <key>label</key>
            <string>Hide artwork</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
            <key>requiresRespring</key>
            <true/>
        </dict>

        <!-- Feedback -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Feedback</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>These settings require a respring.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>hapticFeedbackOther</string>
            <key>label</key>
            <string>Haptic Feedback (Other buttons)</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
            <key>requiresRespring</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>hapticFeedbackSkip</string>
            <key>label</key>
            <string>Haptic Feedback (Skip button)</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
            <key>requiresRespring</key>
            <true/>
        </dict>


        <!-- Other -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Other</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>Before emailing me with an issue, please read through the troubleshoot link above. Thank you!</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>NextUpColorButtonCell</string>
            <key>action</key>
            <string>myTweaks</string>
            <key>label</key>
            <string>Check out my other tweaks</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>NextUpColorButtonCell</string>
            <key>action</key>
            <string>troubleshoot</string>
            <key>label</key>
            <string>Troubleshoot issue</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>NextUpColorButtonCell</string>
            <key>action</key>
            <string>followTwitter</string>
            <key>label</key>
            <string>Follow me on Twitter</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>NextUpColorButtonCell</string>
            <key>action</key>
            <string>sendEmail</string>
            <key>label</key>
            <string>Email me</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>© 2018 - 2020 Andreas Henriksson</string>
        </dict>
	</array>

	<key>title</key>
	<string>NextUp</string>
</dict>
</plist>
