<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>NextUpSettingsHeaderCell</string>
        </dict>


        <!-- App settings -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Apps</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>These settings require a respring.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>com.coppertino.VoxMobile</string>
            <key>icon</key>
            <string>vox.png</string>
            <key>label</key>
            <string>Enable for VOX</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>com.apple.Music</string>
            <key>id</key>
            <string>Music</string>
            <key>label</key>
            <string>Enable for Music</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>tidal.png</string>
            <key>key</key>
            <string>com.aspiro.TIDAL</string>
            <key>label</key>
            <string>Enable for TIDAL</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>spotify.png</string>
            <key>key</key>
            <string>com.spotify.client</string>
            <key>label</key>
            <string>Enable for Spotify</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>deezer.png</string>
            <key>key</key>
            <string>com.deezer.Deezer</string>
            <key>label</key>
            <string>Enable for Deezer</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>anghami.png</string>
            <key>key</key>
            <string>com.anghami.anghami</string>
            <key>label</key>
            <string>Enable for Anghami</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>podcasts.png</string>
            <key>key</key>
            <string>com.apple.podcasts</string>
            <key>label</key>
            <string>Enable for Podcasts</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>soundcloud.png</string>
            <key>key</key>
            <string>com.soundcloud.TouchApp</string>
            <key>label</key>
            <string>Enable for SoundCloud</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>playmusic.png</string>
            <key>key</key>
            <string>com.google.PlayMusic</string>
            <key>label</key>
            <string>Enable for Google Music</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>icon</key>
            <string>youtubemusic.png</string>
            <key>key</key>
            <string>com.google.ios.youtubemusic</string>
            <key>label</key>
            <string>Enable for YouTube Music</string>
        </dict>


        <!-- Settings -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Settings</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>Useful when also using ColorFlow 4 with the extended media artwork view. Will only hide the buttons when the media controls are visible. Toggling this does not require a respring.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>NextUpSwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>hideXButtons</string>
            <key>label</key>
            <string>Hide iPhone X buttons</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.nextup/preferencesChanged</string>
        </dict>


        <!-- Fill out -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>


        <!-- Other -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Other</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>© 2018 Andreas Henriksson</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>NextUpColorButtonCell</string>
            <key>action</key>
            <string>sendEmail</string>
            <key>id</key>
            <string>Mail</string>
            <key>label</key>
            <string>Email me</string>
        </dict>
	</array>

	<key>title</key>
	<string>NextUp</string>
</dict>
</plist>
