Package: se.nosskirneh.nextup.podcasts
Name: NextUp Podcasts Extension
Depends: mobilesubstrate, se.nosskirneh.nextup (>> 1.0)
Version: 1.0
Architecture: iphoneos-arm
Description: See and change next track in Podcasts
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
