Package: se.nosskirneh.nextup.deezer
Name: NextUp Deezer Extension
Depends: mobilesubstrate, se.nosskirneh.nextup (>> 1.0)
Version: 1.0
Architecture: iphoneos-arm
Description: See and change next track in Deezer
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
